<div class="jumbotron">
  <!-- <div class="row">
    <div class="col-md-6 form-group">
      <label>Nome</label>
      <input type="text" class="form-control" [(ngModel)]="produto.nome" />
    </div>
    <div class="col-md-6 form-group">
      <label>Descrição</label>
      <input type="text" class="form-control" [(ngModel)]="produto.descricao" />
    </div>
  </div>  
  <div>
    <button class="btn btn-primary" (click)="salvar()">salvar</button>
  </div> -->
</div>

<div class="card">
  <div class="card-header">
    Cadastro de produto
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 form-group">
        <label>Nome</label>
        <input type="text" class="form-control" [(ngModel)]="produto.nome" />
      </div>
      <div class="col-md-6 form-group">
        <label>Descrição</label>
        <input type="text" class="form-control" [(ngModel)]="produto.descricao" />
      </div>
    </div>  
    <div>
      <button class="btn btn-primary" (click)="salvar()">salvar</button>
    </div>
  </div>
</div>