<div class="card">
  <div class="card-header">
    Editar pedido
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 form-group">
        <label>produto</label>
        <select class="form-control" [(ngModel)]="pedido.produtoId" >
          <option *ngFor="let produto of produtoLista" [ngValue]="produto.id">{{produto.nome}}</option>
        </select>
      </div>
      <div class="col-md-6 form-group">
        <label>quantidade</label>
        <input type="text" class="form-control" [(ngModel)]="pedido.quantidade" />
      </div>
    </div>  
    <div>
      <button class="btn btn-primary" (click)="salvar()">salvar</button>
      <button class="btn btn-danger" (click)="deletar()">deletar</button>
    </div>
    <div class="alert alert-success" style="margin-top: 10px;" role="alert" *ngIf="sucesso">
      Salvo com sucesso.
    </div>
    <div class="alert alert-success" style="margin-top: 10px;" role="alert" *ngIf="deletado">
      Deletado com sucesso.
    </div>
    
  </div>
</div>
