<div class="card">
  <div class="card-header">
    Cadastro de pedido
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 form-group">
        <label>produto</label>
        <select class="form-control" [(ngModel)]="pedido.produtoId" >
          <option *ngFor="let produto of produtoLista" [ngValue]="produto.id">{{produto.nome}}</option>
        </select>
      </div>
      <div class="col-md-6 form-group">
        <label>quantidade</label>
        <input type="text" class="form-control" [(ngModel)]="pedido.quantidade" />
      </div>
    </div>  
    <div>
      <button class="btn btn-primary" (click)="salvar()">salvar</button>
    </div>
  </div>
</div>
