<div class="espaco-card">
    <div class="card">
      <div class="card-header">
        Agendamento de colheita
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label>Produto</label>
            <select class="form-control" [(ngModel)]="agendamento.produtoId">
              <option *ngFor="let produto of produtos" [value]="produto.id">{{produto.nome}} ({{produto.unidadeMedida}})</option>
            </select>
          </div>
          <div class="col-md-6">
              <label>Data do agendamento</label>
              <input class="form-control" type="date" [(ngModel)]="agendamento.data">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Quantidade</label>
            <input class="form-control" type="text" [(ngModel)]="agendamento.quantidade">
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="espaco-card">
      <div class="card">        
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-success" role="alert" *ngIf="isSalvo">
                Salvo com sucesso
              </div>
            </div>            
            <div class="col-md-6">
              <button class="btn btn-primary" (click)="salvar()">Salvar</button>
            </div>
          </div>        
        </div>
      </div>
    </div>